<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VaultExportUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <VaultExportUI.Properties.Settings>
            <setting name="vaultuser" serializeAs="String">
                <value>integracao</value>
            </setting>
            <setting name="vaultpass" serializeAs="String">
                <value>brasil2010</value>
            </setting>
            <setting name="vaultserveraddr" serializeAs="String">
                <value>br03s059.straumann.com</value>
            </setting>
            <setting name="vaultserver" serializeAs="String">
                <value>neodent</value>
            </setting>
            <setting name="baseRepositories" serializeAs="String">
                <value>$/Neodent/Produção</value>
            </setting>
            <setting name="exportfile" serializeAs="String">
                <value>desenhos.xlsx</value>
            </setting>
        </VaultExportUI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>