<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vaultsrv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <vaultsrv.Properties.Settings>
            <setting name="vaultsrv_ECMDocService_DocumentServiceService"
                serializeAs="String">
                <value>http://VANEI-FW390:8080/webdesk/DocumentService</value>
            </setting>
            <setting name="vaultsrv_ECMFolderService_FolderServiceService"
                serializeAs="String">
                <value>http://VANEI-FW390:8080/webdesk/FolderService</value>
            </setting>
        </vaultsrv.Properties.Settings>
    </applicationSettings>
</configuration>