<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ecmfiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <ecmfiles.Properties.Settings>
      <setting name="ecmfiles_WebReference_DocumentServiceService"
        serializeAs="String">
        <value>http://localhost:8080/webdesk/DocumentService</value>
      </setting>
      <setting name="ecmfiles_ECMFolderService_FolderServiceService"
        serializeAs="String">
        <value>http://localhost:8080/webdesk/FolderService</value>
      </setting>
    </ecmfiles.Properties.Settings>
  </applicationSettings>
  <!--
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  -->
</configuration>