<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InformationServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://br03s059.straumann.com/AutodeskDM/Services/InformationService.svc"
                binding="basicHttpBinding" bindingConfiguration="InformationServiceSoap"
                contract="VaultService.InformationService" name="InformationServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
